*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* navbar */
.logo-img{
  width: 45vh;
}

.nav-link{
  font-size: larger;
}

/* section photo */
.photo{
background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)),url(https://img.freepik.com/photos-gratuite/scientifique-mettant-echantillon-sang-du-tube-essai-micropipette-dans-boite-petri-analysant-reaction-chimique_482257-487.jpg?w=740&t=st=1680443335~exp=1680443935~hmac=dd3babea01883f94c515931d93274f10c80a36ae31a201ba72a7ef91e5603408)no-repeat center center fixed;
min-height:  360px;
background-size: cover;
background-position: center;
width: 100%;
    position: relative;
    
    background-color: #c1ccdf;
    display: flex;
    align-items: center;
    padding: 40px 0;
    


}
.photo h2{
    
    padding: 70px 0 20px 70px;
    font-family:  'Montserrat';
    color: #fff;
}

.photo p{
    
    padding: 0px 0 0px 70px;
    font-family:  'Montserrat';
    color: #fff;
}

.photo-padding{
    margin-bottom: 100px;
}


/* exemens  */



.information .col-md-8{
    background-color: white;
}
.information button{
    background-color: #fff;
    border:none;
    
}
 /* hover and click */
.hover-btn{
  position: relative;
  color: #000;
  text-decoration: none;
}

.hover-btn:hover {
  color: #000;
}

.hover-btn::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2e5b92;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.hover-btn:hover::before {
  transform: scaleX(1);
}

.hover-btn{
  margin-top: 20px;
  color: rgb(0, 0, 0,0.8);
  padding: 10px 20px;
  border-radius: 7px;
  font-size: larger;
}
/* click effect  */
.hover-btn.active {
  background-color: #376eaf;
  color: white;
}

.clickabele.active {
  background-color: #376eaf;
  color: white;
}



.clickabele::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2e5b92;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.clickabele:hover::before {
  transform: scaleX(1);
}

.clickabele{
  margin-top: 20px;
  color: rgb(0, 0, 0,0.8);
  padding: 10px 20px;
  border-radius: 7px;
}
/* end of click effect */

/* paragraph style */
.information p{
    font-family: "Open Sans",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}
/* end of paragraph style */

.shadow-config {
    box-shadow: 3px 9px 32px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 9px 32px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 9px 32px 3px rgba(0,0,0,0.75);
}
.shadow-config{
  background-color: white;
}

/* postioning of section */
#equipement{
position: relative;
margin-top: -70px;

} 

.lign{
     
    border: 2px solid #142a46;;
   
  width: 25%;
  margin: 10PX auto;
}
 /* color of h2 */
.blueh2{
    font-size: 24px;
    font-weight: 500;
    color: #1c7ed6;
    margin-bottom: 0.75rem;
    margin-top: 40px;
    font-family: 'montserrat-ace' ;
}
/* color of table header */
.table{
    margin-bottom: 40px;
}
.table-color{
    color: white;
    background-color: #2e5b92;
}

 /* color of preparation dots */
 ul {
    list-style: none; /* Remove default bullets */
  }
  
  #dot-color ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #376eaf; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }
  #dot-color li {
    font-family: "Open Sans",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
  }
  .caution{
  background-color: rgb(172, 211, 198,0.5);
  padding: 10px 50px 2px 20px;
  border-radius: 7px;


  }


  /* nos equipement */
  .Nos-équipements  .titre span{
 color:#2e5b92;
 font-size: 800;
  }

  .Nos-équipements .titre{
    font-family: "Open Sans",sans-serif;
    font-size: 1.20rem;

    line-height: 1.5;
    color: #212529;
  }

  .img{
    margin-top: 500px;
  }
  

  /* contact-us */


  .contact-us{

    background-color: #263671;
    max-height: 350px;


  }

  .contact-us h3{
    font-family: "Montserrat Ace";
    color: white;
    
  }
  .contact-us p a{
    color: white;
    text-decoration: none;
    transition: 0.5s;
    background-color: rgba(0, 233, 19, 0.87);
    padding: 10px 20px;
    border-radius: 7px;
    margin-top: 10px;
  }
  .contact-us p a:hover{
    background-color: #2e5b92;
    color: white;
    text-decoration: none;
    
  }
  .contact-us a img:hover{
    
      filter: brightness(150%) saturate(120%) hue-rotate(190deg);
   
  }


 /* footer */
 footer{
  background-color: #263671;
  padding-top: 50px;
  color: white;
 }


 #temps h4{
   font-size: 18px;
   font-weight: 600;
   margin-bottom: -2px;
   font-family: "Montserrat Ace";
   color: white;
 }
 #temps p , #temps a ,#nav-footer ,#nav-footer p{
   color: rgba(255,255,255,0.9);
   text-decoration: none;
 }
 .lign-footer{
   background-color:white ;
   
   height: 1px;
   width: 180px;

   opacity: 1;
 }
 .lign-footer-2{
   background-color:white ;
   position: absolute;
   height: 90%;
   width: 2px;
   right: 80px;
   top: -15px;
   opacity: 0.7;
 }
 #contact-footer{
   font-weight: 100;
   font-size: 16px;
   opacity: 0.7;
 }
 #temps-travail-footer{
   opacity: 0.7;
 }


 #footer-config .col-md-3 p{
   color: rgba(255,255,255,0.9);
 }
 #fotter-config p{
   font-family: "Open Sans",sans-serif;
   font-size: 1rem;
   font-weight: 400;
   color: white;
   
 }

 #test {
   
     transition: height 0.9s ease;
    
   
 }


#unit-drop{
 color: #0051d2;
}
.nav-h4{
 font-size: 18px;
 font-weight: 600;
 margin-bottom: -2px;
 font-family: "Montserrat Ace";
 color: white;
}