.logo-img{
  width: 45vh;
}

.nav-link{
font-size: larger;
}
h2, h1{
  color: #0051d2;
}




.email-link{
    color: black;
    text-decoration: none;
    transition: text-decoration 3s ease ;
}
.contact-tel{
    color: #000;
}
.contact-tel:hover{
    text-decoration: underline;
}
.email-link:hover{
    text-decoration: underline;
}
footer{
  background-color: #263671;
   padding-top: 50px;
   color: white;
  }
 

  #temps h4{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: -2px;
    font-family: "Montserrat Ace";
    color: white;
  }
  #temps p , #temps a ,#nav-footer ,#nav-footer p{
    color: rgba(255,255,255,0.9);
    text-decoration: none;
  }
  .lign-footer{
    background-color:white ;
    
    height: 1px;
    width: 180px;

    opacity: 1;
  }
  .lign-footer-2{
    background-color:white ;
    position: absolute;
    height: 90%;
    width: 2px;
    right: 80px;
    top: -15px;
    opacity: 0.7;
  }
  #contact-footer{
    font-weight: 100;
    font-size: 16px;
    opacity: 0.7;
  }
  #temps-travail-footer{
    opacity: 0.7;
    
  }


  #footer-config .col-md-3 p{
    color: rgba(255,255,255,0.9);
  }
  #fotter-config p{
    font-family: "Open Sans",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    
  }

  #test {
    
      transition: height 0.9s ease;
     
    
  }

 
 #unit-drop{
  color: #0051d2;
 }
 .nav-h4{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: -2px;
  font-family: "Montserrat Ace";
  color: white;
 }
  /* scroll effect */
  .reveal{
 
    transform: translateY(100px);
    opacity: 0;
    transition:  all 2s ease;
  }
  .reveal.active{
    transform: translateY(0px);
    opacity: 1;
  }