* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
    --color1: #FFF;
    --color2: #181818;
}
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: rgb(54, 91, 160);
    padding: 12px 20px;
}
.logo img {
    width: 200px;
}
.menu {
    display: flex;
}
.menu li {
    padding-left: 30px;
}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}
.menu li a:hover:after {
    width: 100%;
}
.open-menu, .close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {
    display: none;
}


.container{
    display: flex;
    
    align-items: center;
    justify-content: space-around;
    min-height: 500px;
}
.container a{
    text-decoration: none;
    color: rgb(32, 15, 110);
    font-size: 27px;
    
}
.btn-style{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20vw;
    height: 20vw;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 10px 20px 41px -15px rgba(0,0,0,0.46);
    -webkit-box-shadow: 10px 20px 41px -15px rgba(0,0,0,0.46);
    -moz-box-shadow: 10px 20px 41px -15px rgba(0,0,0,0.46);
    padding: 0px 10px;
}
.btn-style:hover{

    width: 27vw;
    height: 27vw;
    transition: 1.1s;
}
