*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* navbar */
#bluenav{
    background-color: #376eaf;
    
    
   
}
.navbar-brand strong{
    color: white;
}



.color{
    
    color: #376eaf;
}

#white  {
    color: rgb(255, 254, 254);
    font-size: 19px;
}
#list{
    color: white;
    font-size: 20px;
}
.dropdown ul li a{
    color: #376eaf;
    font-size: 15px;
    padding-bottom: 10px;
}
#bluenav a{
    transition: 300ms;
}
#bluenav a:hover{
 color: #2e5b92;;
}

#language i{ 
    padding-right: 5px;
    padding-left: 20px;
   
}
/* navbar contact icons */

#nav-icons li a{
  padding-left: 10px;
  color: white;
}

#dropdown-border{
  border-color: aqua;
  border: 10px;
}

/* section photo */
.photo{
background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)),url(https://marketing.webassets.siemens-healthineers.com/1800000007028655/0aca03ed2d1a/v/4383ff8edeb4/Siemens_MRI_Magnetom_Terra_191729_IMAGE_19_1800000007028655.jpg) ;
min-height:  400px;
background-size: cover;
background-position: 0px 0px ;
height: 100%;
width: 100%;
    position: relative;
    background-color: #c1ccdf;
    display: flex;
    align-items: center;
    padding: 40px 0;
    


}
.photo h2{
    
    padding: 100px 0 100px 70px;
    font-family:  'Montserrat';
    color: #fff;
}


/* exemens  */



.information .col-md-8{
    background-color: white;
}
.information button{
    background-color: #fff;
    border:none;
    
}
 /* hover and click */
.hover-btn{
  position: relative;
  color: #000;
  text-decoration: none;
}

.hover-btn:hover {
  color: #000;
}

.hover-btn::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2e5b92;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.hover-btn:hover::before {
  transform: scaleX(1);
}

.hover-btn{
  margin-top: 20px;
  color: rgb(0, 0, 0,0.8);
  padding: 10px 20px;
  border-radius: 7px;
  font-size: larger;
}
/* click effect  */
.hover-btn.active {
  background-color: #376eaf;
  color: white;
}

.clickabele.active {
  background-color: #376eaf;
  color: white;
}



.clickabele::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2e5b92;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.clickabele:hover::before {
  transform: scaleX(1);
}

.clickabele{
  margin-top: 20px;
  color: rgb(0, 0, 0,0.8);
  padding: 10px 20px;
  border-radius: 7px;
}
/* end of click effect */

/* paragraph style */
.information p{
    font-family: "Open Sans",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}
/* end of paragraph style */

.shadow-config {
    box-shadow: 3px 9px 32px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 9px 32px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 9px 32px 3px rgba(0,0,0,0.75);
}
.shadow-config{
  background-color: white;
}

/* postioning of section */
#equipement{
position: relative;
margin-top: -70px;

} 

.lign{
     
    border: 2px solid #142a46;;
   
  width: 25%;
  margin: 10PX auto;
}
 /* color of h2 */
.blueh2{
    font-size: 24px;
    font-weight: 500;
    color: #1c7ed6;
    margin-bottom: 0.75rem;
    margin-top: 40px;
    font-family: 'montserrat-ace' ;
}
/* color of table header */
.table{
    margin-bottom: 40px;
}
.table-color{
    color: white;
    background-color: #2e5b92;
}

 /* color of preparation dots */
 ul {
    list-style: none; /* Remove default bullets */
  }
  
  #dot-color ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #376eaf; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }
  #dot-color li {
    font-family: "Open Sans",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
  }
  .caution{
  background-color: rgb(172, 211, 198,0.5);
  padding: 10px 50px 2px 20px;
  border-radius: 7px;


  }


  /* nos equipement */
  .Nos-équipements  .titre span{
 color:#2e5b92;
 font-size: 800;
  }

  .Nos-équipements .titre{
    font-family: "Open Sans",sans-serif;
    font-size: 1.20rem;

    line-height: 1.5;
    color: #212529;
  }

  .img{
    margin-top: 500px;
  }
  #img{
    
  }

  /* contact-us */


  .contact-us{

background-color: #376eaf;
max-height: 300px;


  }

  .contact-us h3{
    font-family: "Montserrat Ace";
    color: white;
    
  }
  .contact-us p a{
    color: #2e5b92;
    text-decoration: none;
    transition: 0.5s;
    background-color: white;
    padding: 10px 20px;
    border-radius: 7px;
    margin-top: 10px;
  }
  .contact-us p a:hover{
    background-color: #2e5b92;
    color: white;
    text-decoration: none;
    
  }
  .contact-us a img:hover{
    
      filter: brightness(150%) saturate(120%) hue-rotate(190deg);
   
  }


 /* footer */
  footer{
    background-color: #376eaf;
  }
  #fotter-config h2{
    font-family: "Open Sans",sans-serif;
    color: white;
    padding: 20px;
  }
  #temps h4{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: -2px;
    font-family: "Montserrat Ace";
    color: white;
  }
  #temps p ,a{
    color: rgba(255,255,255,0.9);
    text-decoration: none;
  }


  #footer-config .col-md-3 p{
    color: rgba(255,255,255,0.9);
  }
  #fotter-config p{
    font-family: "Open Sans",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    
  }

