*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* navbar */
#bluenav{
    background-color: #376eaf;
    
    
   
}
.navbar-brand strong{
    color: white;
}



.color{
    
    color: #376eaf;
}

#white  {
    color: rgb(255, 254, 254);
    font-size: 19px;
}
#list{
    color: white;
    font-size: 20px;
}
.dropdown ul li a{
    color: #376eaf;
    font-size: 15px;
    padding-bottom: 10px;
}
#bluenav a{
    transition: 300ms;
}
#bluenav a:hover{
 color: #2e5b92;;
}

#language i{ 
    padding-right: 5px;
    padding-left: 20px;
   
}
/* navbar contact icons */

#nav-icons li a{
  padding-left: 10px;
  color: white;
}

#dropdown-border{
  border-color: aqua;
  border: 10px;
}